{{!< default}}


<main role="main" class="main_dgeex">

  {{#post}}

  <article class="article_dgeex" role="article" itemscope itemtype="http://schema.org/Article">
    <header class="postheader_dgeex">
      <h1 class="posttitle_dgeex" itemprop="headline">{{title}}</h1>
    </header>
    
    <div class="postcontent_dgeex" itemprop="articleBody">
      <p>{{content}}</p>
    </div>
    
    <footer class="postfooter_dgeex">
      {{#author}}
      {{#if image}}
      <figure class="authorimage_dgeex">
	<a class="img" href="{{url}}" style="background-image: url({{image}})">{{name}}'s Picture</a>
      </figure>
      <section class="authorname_dgeex">
	<h4><a href="{{url}}">{{name}}</a></h4>
	<p>Read <a href="{{url}}">more posts</a> by this author.</p>
	{{/if}}
	{{#if website}}<span class="authorwebsite_dgeex"><a href="{{website}}">{{website}}</a></span>{{/if}}
	{{#if bio}}
	<p>{{bio}}</p>
	{{else}}
      </section>
      {{/if}}
      {{/author}}
      
      <section class="sharepost_dgeex">
	<h4 class="share_dgeex">Share this post</h4>
	<a class="share_dgeex icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
	   onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
	  <span class="hidethis_dgeex">Twitter</span>
	</a>
	<a class="share_dgeex icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
	   onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
	  <span class="hidethis_dgeex">Facebook</span>
	</a>
	<a class="share_dgeex icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
	   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
	  <span class="hidethis_dgeex">Google+</span>
	</a>
      </section>
      
  </article>
  <aside class="readnext_dgeex">
    {{#next_post}}
    <a class="readnextstory_dgeex {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
      <section class="post_dgeex">
	<h2>{{title}}</h2>
	<p>{{excerpt words="19"}}&hellip;</p>
      </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="readnextstory_dgeex prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
      <section class="post_dgeex">
	<h2>{{title}}</h2>
	<p>{{excerpt words="19"}}&hellip;</p>
      </section>
    </a>
    {{/prev_post}}
  </aside>
    
  {{/post}}

</main>

{{> footer}}
